<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Домашнее задание{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% block header %}
    <header>
        Домашнее задание
    </header>
    {% endblock %}
    {% block menu %}
    <div class="menu">
        <h1>Меню</h1>
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    <div class="footer">
        Подвал
    </div>
    {% endblock %}
</body>
</html>