{% extends 'base.html' %}

{% block title %}
    Одежда
{% endblock %}

{% block content %}
    <div class="caption"><h1>Одежда</h1></div>
    <div class="clothes">

    {% for item in context %}
        <div class="item">
            <div class="name">
                {{ item.name }}
            </div>
            <div class="pic">
                <img src="{{ item.pic_url }}" alt="{{ item.name }}">
            </div>
            <div class="annotation">
                {{ item.annotation }}
            </div>
            <div class="price">
                <p>{{ item.price }} руб.</p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}